<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,287},{87,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,81}}</string>
				<key>sourceSize</key>
				<string>{87,81}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,445},{129,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,107}}</string>
				<key>sourceSize</key>
				<string>{129,107}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,553},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,116}}</string>
				<key>sourceSize</key>
				<string>{118,116}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{112,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,138}}</string>
				<key>sourceSize</key>
				<string>{112,138}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,75},{129,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,114}}</string>
				<key>sourceSize</key>
				<string>{129,114}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,254},{142,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,117}}</string>
				<key>sourceSize</key>
				<string>{142,117}</string>
			</dict>

			<key>bt_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,306},{165,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{165,51}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,254},{165,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{165,51}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_popup_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,625},{149,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,27}}</string>
				<key>sourceSize</key>
				<string>{149,27}</string>
			</dict>

			<key>icon_mobifone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,652},{98,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,22}}</string>
				<key>sourceSize</key>
				<string>{98,22}</string>
			</dict>

			<key>icon_tanggiam.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,358},{23,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{23,36}}</string>
				<key>sourceSize</key>
				<string>{24,38}</string>
			</dict>

			<key>icon_tg.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,358},{30,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,24}}</string>
				<key>sourceSize</key>
				<string>{30,24}</string>
			</dict>

			<key>icon_viettel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,625},{68,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,40}}</string>
				<key>sourceSize</key>
				<string>{68,40}</string>
			</dict>

			<key>icon_vinaphone1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,652},{99,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,22}}</string>
				<key>sourceSize</key>
				<string>{99,22}</string>
			</dict>

			<key>line_sang.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,83},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{170,170}}</string>
				<key>sourceSize</key>
				<string>{177,176}</string>
			</dict>

			<key>momo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{360,25}}</string>
				<key>sourceSize</key>
				<string>{370,36}</string>
			</dict>

			<key>popup_bt_napthe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,26},{325,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{325,56}}</string>
				<key>sourceSize</key>
				<string>{329,60}</string>
			</dict>

			<key>popup_menhgia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,83},{260,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{260,311}}</string>
				<key>sourceSize</key>
				<string>{264,315}</string>
			</dict>

			<key>popup_nho-cn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,445},{218,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,179}}</string>
				<key>sourceSize</key>
				<string>{218,179}</string>
			</dict>

			<key>popup_the1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,213},{104,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,73}}</string>
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>

			<key>popup_the_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,139},{104,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,73}}</string>
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>

			<key>title_cuahang.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,395},{235,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,49}}</string>
				<key>sourceSize</key>
				<string>{235,49}</string>
			</dict>

			<key>title_napG.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,26},{141,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,48}}</string>
				<key>sourceSize</key>
				<string>{141,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{675,675}</string>
			<key>textureFileName</key>
			<string>cuahang.png</string>
			</dict>
		</dict>
</plist>