<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10b.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,836},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>10c.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,680},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>10r.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,512},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>10t.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,316},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>11b.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>11c.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>11r.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,577},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>11t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>12b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>12c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>12r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,870},{106,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,144}}</string>
				<key>sourceSize</key>
				<string>{106,144}</string>
			</dict>

			<key>12t.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13b.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,580},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13c.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,870},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13r-Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,145},{105,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,141}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>13r.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,725},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13t.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,435},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,869},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>1r.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,921},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,579},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,289},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,434},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2r.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,0},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,800},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>3c.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,633},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>3r.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,777},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,145},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4b.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,724},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4c.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,722},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4r.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,145},{108,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,143}}</string>
				<key>sourceSize</key>
				<string>{108,143}</string>
			</dict>

			<key>4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,288},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,867},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>5c.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>5r.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,144},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,144},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>6b.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,460},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>6c.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,604},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>6r.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,944},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,289},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7b.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,290},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7c.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,432},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7r.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,579},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7t.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,489},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>8b.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,656},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>8c.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,824},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>8r.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>8t.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,172},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>9b.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,144},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>9c.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,724},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>9r.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,345},{109,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,143}}</string>
				<key>sourceSize</key>
				<string>{109,143}</string>
			</dict>

			<key>9t.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,869},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>border.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,0},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>card_face_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1007},{58,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,85}}</string>
				<key>sourceSize</key>
				<string>{58,85}</string>
			</dict>

			<key>card_select1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{132,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,172}}</string>
				<key>sourceSize</key>
				<string>{132,172}</string>
			</dict>

			<key>card_select2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{133,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,171}}</string>
				<key>sourceSize</key>
				<string>{133,171}</string>
			</dict>

			<key>effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{129,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,167}}</string>
				<key>sourceSize</key>
				<string>{129,167}</string>
			</dict>

			<key>effect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{124,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,155}}</string>
				<key>sourceSize</key>
				<string>{124,155}</string>
			</dict>

			<key>effect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,345},{130,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,166}}</string>
				<key>sourceSize</key>
				<string>{130,166}</string>
			</dict>

			<key>effect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,836},{123,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,170}}</string>
				<key>sourceSize</key>
				<string>{123,170}</string>
			</dict>

			<key>white_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,434},{108,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,144}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1109,1093}</string>
			<key>textureFileName</key>
			<string>card.png</string>
			</dict>
		</dict>
</plist>