<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,257},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{129,129}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,127},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,129}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,128},{129,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{129,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,127}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,257},{129,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,386},{128,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{128,125}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{129,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,126}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,259},{129,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,127}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{129,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,129}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{390,512}</string>
			<key>textureFileName</key>
			<string>emoji_01.png</string>
			</dict>
		</dict>
</plist>