<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,365},{126,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{126,124}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,242},{127,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{127,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,122},{129,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,11},{129,119}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,371},{130,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{130,115}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,249},{130,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{130,121}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,242},{128,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{128,127}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{130,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{130,121}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{130,119}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{130,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{130,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,0},{126,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{126,127}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{389,490}</string>
			<key>textureFileName</key>
			<string>emoji_14.png</string>
			</dict>
		</dict>
</plist>