<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>active_canhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,496},{248,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,80}}</string>
				<key>sourceSize</key>
				<string>{248,80}</string>
			</dict>

			<key>bt_ravao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,741},{99,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,37}}</string>
				<key>sourceSize</key>
				<string>{99,37}</string>
			</dict>

			<key>golf.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,956},{18,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,19}}</string>
				<key>sourceSize</key>
				<string>{18,19}</string>
			</dict>

			<key>nho.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{100,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,36}}</string>
				<key>sourceSize</key>
				<string>{100,36}</string>
			</dict>

			<key>nhotop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,646},{108,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,57}}</string>
				<key>sourceSize</key>
				<string>{108,57}</string>
			</dict>

			<key>popup_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{263,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,408}}</string>
				<key>sourceSize</key>
				<string>{263,408}</string>
			</dict>

			<key>popup_bxh_nho.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,577},{99,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,405}}</string>
				<key>sourceSize</key>
				<string>{99,405}</string>
			</dict>

			<key>ra.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,779},{36,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,27}}</string>
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>

			<key>thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,577},{218,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,68}}</string>
				<key>sourceSize</key>
				<string>{218,68}</string>
			</dict>

			<key>to.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{259,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,36}}</string>
				<key>sourceSize</key>
				<string>{259,36}</string>
			</dict>

			<key>top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,875},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,39}}</string>
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>

			<key>top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,915},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,40}}</string>
				<key>sourceSize</key>
				<string>{32,40}</string>
			</dict>

			<key>top3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{32,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,39}}</string>
				<key>sourceSize</key>
				<string>{32,39}</string>
			</dict>

			<key>totop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,409},{259,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,49}}</string>
				<key>sourceSize</key>
				<string>{259,49}</string>
			</dict>

			<key>vao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,807},{36,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,27}}</string>
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>rank.png</string>
			</dict>
		</dict>
</plist>