<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{249,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,744},{248,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,248},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,0},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,248},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,496},{247,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{248,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,496},{249,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,247}}</string>
				<key>sourceSize</key>
				<string>{252,247}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{747,992}</string>
			<key>textureFileName</key>
			<string>emoji_06.png</string>
			</dict>
		</dict>
</plist>