<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,289},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,70}}</string>
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>

			<key>event.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,112},{98,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,87}}</string>
				<key>sourceSize</key>
				<string>{98,87}</string>
			</dict>

			<key>friendgift.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,0},{98,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,82}}</string>
				<key>sourceSize</key>
				<string>{98,82}</string>
			</dict>

			<key>giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{99,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,82}}</string>
				<key>sourceSize</key>
				<string>{99,82}</string>
			</dict>

			<key>mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{97,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,82}}</string>
				<key>sourceSize</key>
				<string>{97,82}</string>
			</dict>

			<key>quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,200},{98,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,83}}</string>
				<key>sourceSize</key>
				<string>{98,83}</string>
			</dict>

			<key>ranking1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{120,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,93}}</string>
				<key>sourceSize</key>
				<string>{120,93}</string>
			</dict>

			<key>ranking2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,111}}</string>
				<key>sourceSize</key>
				<string>{154,111}</string>
			</dict>

			<key>setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,289},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,71}}</string>
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>

			<key>share.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,284},{97,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,82}}</string>
				<key>sourceSize</key>
				<string>{97,82}</string>
			</dict>

			<key>shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,83},{98,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,86}}</string>
				<key>sourceSize</key>
				<string>{98,86}</string>
			</dict>

			<key>watch_ads.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,206},{98,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,82}}</string>
				<key>sourceSize</key>
				<string>{98,82}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{352,367}</string>
			<key>textureFileName</key>
			<string>itemtrangchu.png</string>
			</dict>
		</dict>
</plist>