<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bt_doimk.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1018},{125,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{125,47}}</string>
				<key>sourceSize</key>
				<string>{140,61}</string>
			</dict>

			<key>bt_kichhoattk.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1102},{165,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,8},{165,51}}</string>
				<key>sourceSize</key>
				<string>{180,66}</string>
			</dict>

			<key>bt_lichsuchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1066},{125,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,7},{125,47}}</string>
				<key>sourceSize</key>
				<string>{140,61}</string>
			</dict>

			<key>icon_tien_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1062},{41,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,43}}</string>
				<key>sourceSize</key>
				<string>{41,43}</string>
			</dict>

			<key>icon_tien_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1018},{41,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,43}}</string>
				<key>sourceSize</key>
				<string>{41,43}</string>
			</dict>

			<key>item_av.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,964},{148,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{148,168}}</string>
				<key>sourceSize</key>
				<string>{154,174}</string>
			</dict>

			<key>item_popup_tien_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1055},{195,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,46}}</string>
				<key>sourceSize</key>
				<string>{195,46}</string>
			</dict>

			<key>item_popup_tien_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1008},{195,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,46}}</string>
				<key>sourceSize</key>
				<string>{195,46}</string>
			</dict>

			<key>item_popup_to1.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,626},{299,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,521}}</string>
				<key>sourceSize</key>
				<string>{299,521}</string>
			</dict>

			<key>item_popup_to2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{756,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{756,337}}</string>
				<key>sourceSize</key>
				<string>{756,337}</string>
			</dict>

			<key>item_saochep1.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1144},{78,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,32}}</string>
				<key>sourceSize</key>
				<string>{78,32}</string>
			</dict>

			<key>item_tapsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,1133},{104,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{104,38}}</string>
				<key>sourceSize</key>
				<string>{119,51}</string>
			</dict>

			<key>line_lvv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,747},{109,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,108}}</string>
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>

			<key>popup_av.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,964},{176,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{176,179}}</string>
				<key>sourceSize</key>
				<string>{183,186}</string>
			</dict>

			<key>popup_bt_lv2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,626},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{120,120}}</string>
				<key>sourceSize</key>
				<string>{130,131}</string>
			</dict>

			<key>popup_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1093,625}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{1093,625}}</string>
				<key>sourceSize</key>
				<string>{1100,634}</string>
			</dict>

			<key>title_head-star.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1114},{113,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,48}}</string>
				<key>sourceSize</key>
				<string>{113,48}</string>
			</dict>

			<key>title_kingbida.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,964},{135,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{135,53}}</string>
				<key>sourceSize</key>
				<string>{135,56}</string>
			</dict>

			<key>title_soccer_galaxy.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1114},{107,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,48}}</string>
				<key>sourceSize</key>
				<string>{107,48}</string>
			</dict>

			<key>title_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{199,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{199,43}}</string>
				<key>sourceSize</key>
				<string>{204,48}</string>
			</dict>

			<key>ỉtem_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1133},{42,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,43}}</string>
				<key>sourceSize</key>
				<string>{42,43}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1178,1177}</string>
			<key>textureFileName</key>
			<string>common_thongtin.png</string>
			</dict>
		</dict>
</plist>