<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,260},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,131},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,260},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{130,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{130,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{130,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{129,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,0},{128,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,130}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{390,516}</string>
			<key>textureFileName</key>
			<string>emoji_24.png</string>
			</dict>
		</dict>
</plist>