<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{1280,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,99}}</string>
				<key>sourceSize</key>
				<string>{1280,99}</string>
			</dict>

			<key>bg_heading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,99}}</string>
				<key>sourceSize</key>
				<string>{1280,99}</string>
			</dict>

			<key>black_bg_sukien_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,997},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>bt_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1221},{169,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{169,47}}</string>
				<key>sourceSize</key>
				<string>{175,52}</string>
			</dict>

			<key>bt_homqua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,997},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{149,42}}</string>
				<key>sourceSize</key>
				<string>{155,47}</string>
			</dict>

			<key>bt_lichsuhu_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1146},{135,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{135,38}}</string>
				<key>sourceSize</key>
				<string>{141,43}</string>
			</dict>

			<key>bt_thanhtich_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1185},{135,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{135,38}}</string>
				<key>sourceSize</key>
				<string>{141,43}</string>
			</dict>

			<key>bt_thele.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1083},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{149,42}}</string>
				<key>sourceSize</key>
				<string>{155,47}</string>
			</dict>

			<key>bt_thele_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1083},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{149,42}}</string>
				<key>sourceSize</key>
				<string>{155,47}</string>
			</dict>

			<key>bt_vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1040},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{149,42}}</string>
				<key>sourceSize</key>
				<string>{155,47}</string>
			</dict>

			<key>bt_vinhdanh_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1040},{149,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{149,42}}</string>
				<key>sourceSize</key>
				<string>{155,47}</string>
			</dict>

			<key>btn_common_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,586},{311,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,9},{311,302}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>btx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,1224},{131,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{131,54}}</string>
				<key>sourceSize</key>
				<string>{134,55}</string>
			</dict>

			<key>dropdown_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,1126},{148,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{148,19}}</string>
				<key>sourceSize</key>
				<string>{157,28}</string>
			</dict>

			<key>icon_nohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1127},{98,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,87}}</string>
				<key>sourceSize</key>
				<string>{101,87}</string>
			</dict>

			<key>khung_tien_no_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1221},{229,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{229,39}}</string>
				<key>sourceSize</key>
				<string>{233,42}</string>
			</dict>

			<key>main_bg_sukien.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,997},{288,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,51},{288,223}}</string>
				<key>sourceSize</key>
				<string>{320,320}</string>
			</dict>

			<key>no_bg_table_popup.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,997},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>nohu_spliter_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1062},{128,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,64}}</string>
				<key>sourceSize</key>
				<string>{128,64}</string>
			</dict>

			<key>poppup_nho1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{682,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{682,385}}</string>
				<key>sourceSize</key>
				<string>{682,385}</string>
			</dict>

			<key>poppup_t0_02_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,586},{615,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{615,410}}</string>
				<key>sourceSize</key>
				<string>{615,410}</string>
			</dict>

			<key>popup_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1261},{200,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,1}}</string>
				<key>sourceSize</key>
				<string>{200,1}</string>
			</dict>

			<key>popup_nho1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,586},{615,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{615,410}}</string>
				<key>sourceSize</key>
				<string>{615,410}</string>
			</dict>

			<key>table_spliter.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1215},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1281,1280}</string>
			<key>textureFileName</key>
			<string>sukien.png</string>
			</dict>
		</dict>
</plist>