<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,129},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{128,129}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{130,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{130,129}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{130,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{130,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,127},{126,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{126,125}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,253},{125,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{125,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,377},{124,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,5},{124,121}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,259},{129,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{129,125}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,259},{129,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{129,127}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{127,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{127,126}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{128,128}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{388,499}</string>
			<key>textureFileName</key>
			<string>emoji_17.png</string>
			</dict>
		</dict>
</plist>