<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,124},{122,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,0},{122,129}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>02.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,248},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{122,126}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>03.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,124},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>04.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>05.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,254},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>06.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,0},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>07.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,0},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{122,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{122,123}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{122,126}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{492,378}</string>
			<key>textureFileName</key>
			<string>emoji_22.png</string>
			</dict>
		</dict>
</plist>