<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bar_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{962,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{962,84}}</string>
				<key>sourceSize</key>
				<string>{962,84}</string>
			</dict>

			<key>bt_bat-tat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{91,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{91,47}}</string>
				<key>sourceSize</key>
				<string>{95,54}</string>
			</dict>

			<key>bt_dangxuat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{165,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{165,51}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>checkbox_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,601},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>checkbox_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,922},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>item_amthanh_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,810},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,63}}</string>
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>

			<key>item_amthanh_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,874},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,63}}</string>
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>

			<key>item_bat.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,922},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{38,27}}</string>
				<key>sourceSize</key>
				<string>{42,31}</string>
			</dict>

			<key>item_nhac_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,858},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,63}}</string>
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>

			<key>item_nhac_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,858},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,63}}</string>
				<key>sourceSize</key>
				<string>{55,63}</string>
			</dict>

			<key>item_tat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,922},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{38,27}}</string>
				<key>sourceSize</key>
				<string>{42,31}</string>
			</dict>

			<key>music.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,706},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,52}}</string>
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>

			<key>popup_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{773,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{773,515}}</string>
				<key>sourceSize</key>
				<string>{773,515}</string>
			</dict>

			<key>rung.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,759},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,653},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>title_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,653},{152,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{152,52}}</string>
				<key>sourceSize</key>
				<string>{159,59}</string>
			</dict>

			<key>toggle_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,706},{129,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,52}}</string>
				<key>sourceSize</key>
				<string>{129,52}</string>
			</dict>

			<key>toggle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,759},{127,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,50}}</string>
				<key>sourceSize</key>
				<string>{127,50}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{963,952}</string>
			<key>textureFileName</key>
			<string>common_caidat.png</string>
			</dict>
		</dict>
</plist>