<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>2tuquy</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{200,59}</string>
    <key>spriteSourceSize</key>
    <string>{200,64}</string>
    <key>textureRect</key>
    <string>{{815,1010},{200,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3doithong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{183,92}</string>
    <key>spriteSourceSize</key>
    <string>{187,94}</string>
    <key>textureRect</key>
    <string>{{815,771},{183,92}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3doithong3bich</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{251,83}</string>
    <key>spriteSourceSize</key>
    <string>{255,90}</string>
    <key>textureRect</key>
    <string>{{993,487},{251,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3sanh</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{169,66}</string>
    <key>spriteSourceSize</key>
    <string>{175,77}</string>
    <key>textureRect</key>
    <string>{{1013,865},{169,66}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3thung</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{193,74}</string>
    <key>spriteSourceSize</key>
    <string>{199,85}</string>
    <key>textureRect</key>
    <string>{{616,1027},{193,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>3xam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{157,83}</string>
    <key>spriteSourceSize</key>
    <string>{169,88}</string>
    <key>textureRect</key>
    <string>{{172,1284},{157,83}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>4doithong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{187,91}</string>
    <key>spriteSourceSize</key>
    <string>{189,94}</string>
    <key>textureRect</key>
    <string>{{926,631},{187,91}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>4doithong3bich</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{255,88}</string>
    <key>spriteSourceSize</key>
    <string>{257,89}</string>
    <key>textureRect</key>
    <string>{{959,0},{255,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5doi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{166,81}</string>
    <key>spriteSourceSize</key>
    <string>{168,88}</string>
    <key>textureRect</key>
    <string>{{456,1197},{166,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5doi1xam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{170,78}</string>
    <key>spriteSourceSize</key>
    <string>{170,83}</string>
    <key>textureRect</key>
    <string>{{0,1284},{170,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>5doithong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{189,93}</string>
    <key>spriteSourceSize</key>
    <string>{189,94}</string>
    <key>textureRect</key>
    <string>{{343,238},{189,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>6doi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{173,80}</string>
    <key>spriteSourceSize</key>
    <string>{179,84}</string>
    <key>textureRect</key>
    <string>{{1000,771},{173,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>6doithong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{187,94}</string>
    <key>spriteSourceSize</key>
    <string>{189,95}</string>
    <key>textureRect</key>
    <string>{{616,931},{187,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ancaychot</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{234,57}</string>
    <key>spriteSourceSize</key>
    <string>{244,57}</string>
    <key>textureRect</key>
    <string>{{993,572},{234,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>anga</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,138}</string>
    <key>spriteSourceSize</key>
    <string>{252,141}</string>
    <key>textureRect</key>
    <string>{{918,144},{252,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ansam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,54}</string>
    <key>spriteSourceSize</key>
    <string>{162,55}</string>
    <key>textureRect</key>
    <string>{{817,1197},{162,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ba</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{76,50}</string>
    <key>spriteSourceSize</key>
    <string>{80,51}</string>
    <key>textureRect</key>
    <string>{{1184,865},{76,50}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bao</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{108,47}</string>
    <key>spriteSourceSize</key>
    <string>{112,47}</string>
    <key>textureRect</key>
    <string>{{935,1342},{108,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>baosam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,47}</string>
    <key>spriteSourceSize</key>
    <string>{180,47}</string>
    <key>textureRect</key>
    <string>{{508,1342},{176,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bet</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{68,43}</string>
    <key>spriteSourceSize</key>
    <string>{72,43}</string>
    <key>textureRect</key>
    <string>{{1192,90},{68,43}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bibatsam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{225,62}</string>
    <key>spriteSourceSize</key>
    <string>{225,62}</string>
    <key>textureRect</key>
    <string>{{815,946},{225,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>binhlung</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,55}</string>
    <key>spriteSourceSize</key>
    <string>{99,55}</string>
    <key>textureRect</key>
    <string>{{1145,1130},{99,55}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>bodoi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{118,47}</string>
    <key>spriteSourceSize</key>
    <string>{128,47}</string>
    <key>textureRect</key>
    <string>{{877,1284},{118,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boluot</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{139,52}</string>
    <key>spriteSourceSize</key>
    <string>{147,54}</string>
    <key>textureRect</key>
    <string>{{736,1284},{139,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_baosam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-1}</string>
    <key>spriteSize</key>
    <string>{341,342}</string>
    <key>spriteSourceSize</key>
    <string>{345,345}</string>
    <key>textureRect</key>
    <string>{{0,0},{341,342}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_baosam1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-8}</string>
    <key>spriteSize</key>
    <string>{237,236}</string>
    <key>spriteSourceSize</key>
    <string>{345,345}</string>
    <key>textureRect</key>
    <string>{{343,0},{237,236}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>btn_taoban</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{254,85}</string>
    <key>spriteSourceSize</key>
    <string>{254,85}</string>
    <key>textureRect</key>
    <string>{{0,1102},{254,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chansam</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{206,56}</string>
    <key>spriteSourceSize</key>
    <string>{208,57}</string>
    <key>textureRect</key>
    <string>{{331,1284},{206,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>cong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,-1}</string>
    <key>spriteSize</key>
    <string>{197,161}</string>
    <key>spriteSourceSize</key>
    <string>{199,163}</string>
    <key>textureRect</key>
    <string>{{192,911},{197,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>culu</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{95,39}</string>
    <key>spriteSourceSize</key>
    <string>{95,39}</string>
    <key>textureRect</key>
    <string>{{1130,1295},{95,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>dangxep</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{195,57}</string>
    <key>spriteSourceSize</key>
    <string>{195,57}</string>
    <key>textureRect</key>
    <string>{{815,1071},{195,57}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>den</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{91,54}</string>
    <key>spriteSourceSize</key>
    <string>{93,54}</string>
    <key>textureRect</key>
    <string>{{1162,1071},{91,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>den_tala</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{86,54}</string>
    <key>spriteSourceSize</key>
    <string>{88,54}</string>
    <key>textureRect</key>
    <string>{{1172,144},{86,54}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>diem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{100,45}</string>
    <key>spriteSourceSize</key>
    <string>{100,45}</string>
    <key>textureRect</key>
    <string>{{1045,1342},{100,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>doi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{67,38}</string>
    <key>spriteSourceSize</key>
    <string>{67,38}</string>
    <key>textureRect</key>
    <string>{{336,1244},{67,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>donghoa</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,2}</string>
    <key>spriteSize</key>
    <string>{239,60}</string>
    <key>spriteSourceSize</key>
    <string>{239,67}</string>
    <key>textureRect</key>
    <string>{{582,281},{239,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ds1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1208,69}</string>
    <key>spriteSourceSize</key>
    <string>{1208,69}</string>
    <key>textureRect</key>
    <string>{{0,416},{1208,69}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ds2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1214,70}</string>
    <key>spriteSourceSize</key>
    <string>{1214,70}</string>
    <key>textureRect</key>
    <string>{{0,344},{1214,70}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>glow1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{169,168}</string>
    <key>spriteSourceSize</key>
    <string>{171,171}</string>
    <key>textureRect</key>
    <string>{{391,911},{169,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>glow2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{190,189}</string>
    <key>spriteSourceSize</key>
    <string>{190,190}</string>
    <key>textureRect</key>
    <string>{{0,911},{190,189}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>glow3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{334,135}</string>
    <key>spriteSourceSize</key>
    <string>{336,137}</string>
    <key>textureRect</key>
    <string>{{582,144},{334,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hoa</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{85,47}</string>
    <key>spriteSourceSize</key>
    <string>{93,51}</string>
    <key>textureRect</key>
    <string>{{1175,771},{85,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>hoacalang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{231,45}</string>
    <key>spriteSourceSize</key>
    <string>{231,45}</string>
    <key>textureRect</key>
    <string>{{959,90},{231,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>huybao</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,60}</string>
    <key>spriteSourceSize</key>
    <string>{178,61}</string>
    <key>textureRect</key>
    <string>{{1042,946},{178,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>lieng</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{102,48}</string>
    <key>spriteSourceSize</key>
    <string>{102,48}</string>
    <key>textureRect</key>
    <string>{{1130,1245},{102,48}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mauthau</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{175,49}</string>
    <key>spriteSourceSize</key>
    <string>{175,50}</string>
    <key>textureRect</key>
    <string>{{331,1342},{175,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>mom</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{197,158}</string>
    <key>spriteSourceSize</key>
    <string>{201,165}</string>
    <key>textureRect</key>
    <string>{{616,771},{197,158}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nhat</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{137,62}</string>
    <key>spriteSourceSize</key>
    <string>{137,66}</string>
    <key>textureRect</key>
    <string>{{1115,631},{137,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>nhi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{83,51}</string>
    <key>spriteSourceSize</key>
    <string>{83,51}</string>
    <key>textureRect</key>
    <string>{{1172,200},{83,51}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sanh</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{91,41}</string>
    <key>spriteSourceSize</key>
    <string>{91,41}</string>
    <key>textureRect</key>
    <string>{{981,1238},{91,41}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sanhrong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{375,142}</string>
    <key>spriteSourceSize</key>
    <string>{387,142}</string>
    <key>textureRect</key>
    <string>{{0,487},{375,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sanhrongdonghoa</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,0}</string>
    <key>spriteSize</key>
    <string>{375,142}</string>
    <key>spriteSourceSize</key>
    <string>{387,142}</string>
    <key>textureRect</key>
    <string>{{582,0},{375,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>sap</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{72,46}</string>
    <key>spriteSourceSize</key>
    <string>{72,46}</string>
    <key>textureRect</key>
    <string>{{1147,1342},{72,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,1}</string>
    <key>spriteSize</key>
    <string>{196,79}</string>
    <key>spriteSourceSize</key>
    <string>{202,84}</string>
    <key>textureRect</key>
    <string>{{815,865},{196,79}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thangsapham</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{157,93}</string>
    <key>spriteSourceSize</key>
    <string>{157,97}</string>
    <key>textureRect</key>
    <string>{{456,1102},{157,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thangsaplang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{164,93}</string>
    <key>spriteSourceSize</key>
    <string>{168,98}</string>
    <key>textureRect</key>
    <string>{{0,1189},{164,93}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theo</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{110,46}</string>
    <key>spriteSourceSize</key>
    <string>{110,46}</string>
    <key>textureRect</key>
    <string>{{1130,1197},{110,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thoi2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{135,52}</string>
    <key>spriteSourceSize</key>
    <string>{135,52}</string>
    <key>textureRect</key>
    <string>{{1008,1130},{135,52}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thu</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{71,39}</string>
    <key>spriteSourceSize</key>
    <string>{71,39}</string>
    <key>textureRect</key>
    <string>{{1175,820},{71,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thua</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{118,53}</string>
    <key>spriteSourceSize</key>
    <string>{128,58}</string>
    <key>textureRect</key>
    <string>{{336,1189},{118,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thuasapham</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{168,85}</string>
    <key>spriteSourceSize</key>
    <string>{168,85}</string>
    <key>textureRect</key>
    <string>{{166,1189},{168,85}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thuasaplang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{168,81}</string>
    <key>spriteSourceSize</key>
    <string>{168,85}</string>
    <key>textureRect</key>
    <string>{{616,1103},{168,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>thung</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{116,47}</string>
    <key>spriteSourceSize</key>
    <string>{116,47}</string>
    <key>textureRect</key>
    <string>{{817,1342},{116,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>to</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{63,53}</string>
    <key>spriteSourceSize</key>
    <string>{63,54}</string>
    <key>textureRect</key>
    <string>{{1184,1010},{63,53}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>toitrang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{306,138}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{308,771},{306,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tpsanh</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{286,49}</string>
    <key>spriteSourceSize</key>
    <string>{286,49}</string>
    <key>textureRect</key>
    <string>{{918,284},{286,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tuquy</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{129,46}</string>
    <key>spriteSourceSize</key>
    <string>{129,46}</string>
    <key>textureRect</key>
    <string>{{686,1342},{129,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tuquy2</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-1}</string>
    <key>spriteSize</key>
    <string>{191,56}</string>
    <key>spriteSourceSize</key>
    <string>{201,64}</string>
    <key>textureRect</key>
    <string>{{815,1130},{191,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tuquy3</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-3}</string>
    <key>spriteSize</key>
    <string>{191,58}</string>
    <key>spriteSourceSize</key>
    <string>{199,64}</string>
    <key>textureRect</key>
    <string>{{624,1197},{191,58}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>tuquy_1</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{148,56}</string>
    <key>spriteSourceSize</key>
    <string>{162,64}</string>
    <key>textureRect</key>
    <string>{{1012,1071},{148,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>u</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{306,139}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{377,487},{306,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>uden</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{306,138}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{0,771},{306,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>udentron</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,-5}</string>
    <key>spriteSize</key>
    <string>{308,138}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{0,631},{308,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>ukhan</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{306,138}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{685,487},{306,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>up</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{127,59}</string>
    <key>spriteSourceSize</key>
    <string>{129,59}</string>
    <key>textureRect</key>
    <string>{{1115,695},{127,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>utron</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{306,138}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{618,631},{306,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>vay</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{88,56}</string>
    <key>spriteSourceSize</key>
    <string>{90,58}</string>
    <key>textureRect</key>
    <string>{{823,281},{88,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>win</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,81}</string>
    <key>spriteSourceSize</key>
    <string>{202,84}</string>
    <key>textureRect</key>
    <string>{{256,1102},{198,81}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xalang</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{165,59}</string>
    <key>spriteSourceSize</key>
    <string>{165,59}</string>
    <key>textureRect</key>
    <string>{{1017,1010},{165,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xamchi</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,40}</string>
    <key>spriteSourceSize</key>
    <string>{152,40}</string>
    <key>textureRect</key>
    <string>{{926,724},{146,40}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xamco</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{147,39}</string>
    <key>spriteSourceSize</key>
    <string>{149,39}</string>
    <key>textureRect</key>
    <string>{{981,1197},{147,39}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xaokhan</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-5}</string>
    <key>spriteSize</key>
    <string>{306,138}</string>
    <key>spriteSourceSize</key>
    <string>{312,150}</string>
    <key>textureRect</key>
    <string>{{310,631},{306,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xem</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{105,49}</string>
    <key>spriteSourceSize</key>
    <string>{105,49}</string>
    <key>textureRect</key>
    <string>{{997,1284},{105,49}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>xepxong</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{195,56}</string>
    <key>spriteSourceSize</key>
    <string>{195,56}</string>
    <key>textureRect</key>
    <string>{{539,1284},{195,56}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1262,1393}</string>
   <key>textureFileName</key>
   <string>win.png</string>
  </dict>
 </dict>
</plist>
