<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>av_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,0},{52,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,58}}</string>
				<key>sourceSize</key>
				<string>{52,58}</string>
			</dict>

			<key>bt_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{230,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,66}}</string>
				<key>sourceSize</key>
				<string>{230,66}</string>
			</dict>

			<key>bt_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{202,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,66}}</string>
				<key>sourceSize</key>
				<string>{202,66}</string>
			</dict>

			<key>bt_chucvu.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,548},{87,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,28}}</string>
				<key>sourceSize</key>
				<string>{87,28}</string>
			</dict>

			<key>bt_hugame-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,106},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_hugame-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,287},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_luckydays-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,165},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_luckydays-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,224},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_off2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,346},{152,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,55}}</string>
				<key>sourceSize</key>
				<string>{152,55}</string>
			</dict>

			<key>bt_off3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,485},{171,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,62}}</string>
				<key>sourceSize</key>
				<string>{171,62}</string>
			</dict>

			<key>bt_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,354},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_on2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,479},{152,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,55}}</string>
				<key>sourceSize</key>
				<string>{152,55}</string>
			</dict>

			<key>bt_on3.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,416},{171,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,62}}</string>
				<key>sourceSize</key>
				<string>{171,62}</string>
			</dict>

			<key>bt_tien-gay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{165,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,51}}</string>
				<key>sourceSize</key>
				<string>{165,51}</string>
			</dict>

			<key>bt_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,416},{189,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,68}}</string>
				<key>sourceSize</key>
				<string>{189,68}</string>
			</dict>

			<key>bt_xam.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{190,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,61}}</string>
				<key>sourceSize</key>
				<string>{190,61}</string>
			</dict>

			<key>btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,53},{241,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,52}}</string>
				<key>sourceSize</key>
				<string>{241,52}</string>
			</dict>

			<key>btn22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{241,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,52}}</string>
				<key>sourceSize</key>
				<string>{241,52}</string>
			</dict>

			<key>btx.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{230,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,66}}</string>
				<key>sourceSize</key>
				<string>{230,66}</string>
			</dict>

			<key>btx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,283},{134,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,55}}</string>
				<key>sourceSize</key>
				<string>{134,55}</string>
			</dict>

			<key>icon_canhbao_offline.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,155},{137,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,127}}</string>
				<key>sourceSize</key>
				<string>{137,127}</string>
			</dict>

			<key>icon_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,0},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>

			<key>icon_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,456},{73,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,67}}</string>
				<key>sourceSize</key>
				<string>{73,67}</string>
			</dict>

			<key>icon_thoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,283},{63,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,61}}</string>
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>

			<key>item_8ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,59},{119,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,44}}</string>
				<key>sourceSize</key>
				<string>{119,44}</string>
			</dict>

			<key>item_choi1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,548},{163,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,29}}</string>
				<key>sourceSize</key>
				<string>{163,29}</string>
			</dict>

			<key>item_choitala.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{172,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,36}}</string>
				<key>sourceSize</key>
				<string>{172,36}</string>
			</dict>

			<key>item_phom.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{211,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,46}}</string>
				<key>sourceSize</key>
				<string>{211,46}</string>
			</dict>

			<key>logo_bi-a.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,59},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,95}}</string>
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>

			<key>refresh_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,59},{30,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,41}}</string>
				<key>sourceSize</key>
				<string>{30,41}</string>
			</dict>

			<key>title_sukien.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,402},{149,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,53}}</string>
				<key>sourceSize</key>
				<string>{149,53}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{572,578}</string>
			<key>textureFileName</key>
			<string>common_buttons.png</string>
			</dict>
		</dict>
</plist>