<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bt_bia-off-.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,752},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_bia-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,693},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_football-3D-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,634},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_football-3D-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,575},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_headstar-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,929},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_headstar-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,929},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_maubinh-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,870},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_maubinh-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,752},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_phom-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,693},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_phom-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,811},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_soccergalaxy-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,634},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_soccergalaxy-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,575},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_tienlen-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,870},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>bt_tienlen-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,811},{169,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,58}}</string>
				<key>sourceSize</key>
				<string>{169,58}</string>
			</dict>

			<key>item_popup_to1-hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{812,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{812,521}}</string>
				<key>sourceSize</key>
				<string>{812,521}</string>
			</dict>

			<key>item_popup_to2-hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{238,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,521}}</string>
				<key>sourceSize</key>
				<string>{238,521}</string>
			</dict>

			<key>title_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,522},{221,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,52}}</string>
				<key>sourceSize</key>
				<string>{221,52}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{813,1044}</string>
			<key>textureFileName</key>
			<string>common_huongdan.png</string>
			</dict>
		</dict>
</plist>