<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>2nguoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{309,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{309,199}}</string>
				<key>sourceSize</key>
				<string>{309,199}</string>
			</dict>

			<key>4nguoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,99},{309,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{309,205}}</string>
				<key>sourceSize</key>
				<string>{309,205}</string>
			</dict>

			<key>Layer 56.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,546},{198,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,112}}</string>
				<key>sourceSize</key>
				<string>{198,112}</string>
			</dict>

			<key>avatar_layer.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,678},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,51}}</string>
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>

			<key>ban5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{346,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,223}}</string>
				<key>sourceSize</key>
				<string>{346,223}</string>
			</dict>

			<key>chip_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,508},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,102}}</string>
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>

			<key>chip_blue_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,429},{136,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,124}}</string>
				<key>sourceSize</key>
				<string>{136,124}</string>
			</dict>

			<key>chip_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,430},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,102}}</string>
				<key>sourceSize</key>
				<string>{107,102}</string>
			</dict>

			<key>chip_green_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,305},{141,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,124}}</string>
				<key>sourceSize</key>
				<string>{141,124}</string>
			</dict>

			<key>chip_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,305},{105,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,100}}</string>
				<key>sourceSize</key>
				<string>{105,100}</string>
			</dict>

			<key>chip_purple_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,305},{139,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,123}}</string>
				<key>sourceSize</key>
				<string>{139,123}</string>
			</dict>

			<key>chip_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,406},{102,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,101}}</string>
				<key>sourceSize</key>
				<string>{102,101}</string>
			</dict>

			<key>chip_yellow_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,554},{136,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,123}}</string>
				<key>sourceSize</key>
				<string>{136,123}</string>
			</dict>

			<key>next_lobby_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,678},{30,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,44}}</string>
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>

			<key>plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,678},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,31}}</string>
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>

			<key>pre_lobby_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,678},{30,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,44}}</string>
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>

			<key>round_bet_lobby_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{599,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{599,98}}</string>
				<key>sourceSize</key>
				<string>{599,98}</string>
			</dict>

			<key>table1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,99},{346,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,222}}</string>
				<key>sourceSize</key>
				<string>{346,222}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{749,746}</string>
			<key>textureFileName</key>
			<string>poker_lobby.png</string>
			</dict>
		</dict>
</plist>