<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BaConHai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,571},{470,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{470,109}}</string>
				<key>sourceSize</key>
				<string>{470,109}</string>
			</dict>

			<key>BaDoiThong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{272,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,76}}</string>
				<key>sourceSize</key>
				<string>{272,76}</string>
			</dict>

			<key>BonDoiThong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{538,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{538,143}}</string>
				<key>sourceSize</key>
				<string>{538,143}</string>
			</dict>

			<key>Doi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,777},{138,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,61}}</string>
				<key>sourceSize</key>
				<string>{138,61}</string>
			</dict>

			<key>GlowingBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{747,426}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{747,426}}</string>
				<key>sourceSize</key>
				<string>{747,426}</string>
			</dict>

			<key>NoIdea.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,686},{145,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,158}}</string>
				<key>sourceSize</key>
				<string>{145,158}</string>
			</dict>

			<key>Particle27.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,427},{258,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,258}}</string>
				<key>sourceSize</key>
				<string>{258,258}</string>
			</dict>

			<key>Particle30.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,0},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>PopupTitleEffect.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,681},{303,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,95}}</string>
				<key>sourceSize</key>
				<string>{303,95}</string>
			</dict>

			<key>ToiTrang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,681},{317,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{317,110}}</string>
				<key>sourceSize</key>
				<string>{317,110}</string>
			</dict>

			<key>TuQuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,792},{177,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,78}}</string>
				<key>sourceSize</key>
				<string>{177,78}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{881,871}</string>
			<key>textureFileName</key>
			<string>CardRank.png</string>
			</dict>
		</dict>
</plist>