<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Nhiemvu.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,0},{86,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,101}}</string>
				<key>sourceSize</key>
				<string>{86,101}</string>
			</dict>

			<key>bt_choingay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{513,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{513,239}}</string>
				<key>sourceSize</key>
				<string>{513,239}</string>
			</dict>

			<key>bt_chonban.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,247},{477,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{477,166}}</string>
				<key>sourceSize</key>
				<string>{477,166}</string>
			</dict>

			<key>bt_napvang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,583},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>

			<key>canhbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{175,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,103}}</string>
				<key>sourceSize</key>
				<string>{175,103}</string>
			</dict>

			<key>hieuung.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,247},{121,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,132}}</string>
				<key>sourceSize</key>
				<string>{121,132}</string>
			</dict>

			<key>icon_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,109},{82,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,108}}</string>
				<key>sourceSize</key>
				<string>{82,108}</string>
			</dict>

			<key>icon_muiten.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,583},{36,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,27}}</string>
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>

			<key>icon_quatang.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,490},{88,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,110}}</string>
				<key>sourceSize</key>
				<string>{88,110}</string>
			</dict>

			<key>icon_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,421},{158,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,118}}</string>
				<key>sourceSize</key>
				<string>{158,118}</string>
			</dict>

			<key>icon_tinnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,547},{89,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,94}}</string>
				<key>sourceSize</key>
				<string>{89,94}</string>
			</dict>

			<key>icon_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,583},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>khung_avt.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,421},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,129}}</string>
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>

			<key>khung_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,532},{171,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,43}}</string>
				<key>sourceSize</key>
				<string>{171,43}</string>
			</dict>

			<key>watch_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,387},{96,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,95}}</string>
				<key>sourceSize</key>
				<string>{96,95}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{615,649}</string>
			<key>textureFileName</key>
			<string>lobby_new.png</string>
			</dict>
		</dict>
</plist>