<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bt_text_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,683},{260,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,55}}</string>
				<key>sourceSize</key>
				<string>{260,55}</string>
			</dict>

			<key>icon_camxuc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,49}}</string>
				<key>sourceSize</key>
				<string>{50,49}</string>
			</dict>

			<key>icon_gui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,832},{81,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,55}}</string>
				<key>sourceSize</key>
				<string>{81,55}</string>
			</dict>

			<key>item_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,739},{211,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,47}}</string>
				<key>sourceSize</key>
				<string>{211,47}</string>
			</dict>

			<key>popup_trochuyen-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,0},{360,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,600}}</string>
				<key>sourceSize</key>
				<string>{360,600}</string>
			</dict>

			<key>popup_trochuyen-21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,600}}</string>
				<key>sourceSize</key>
				<string>{360,600}</string>
			</dict>

			<key>popup_trochuyen.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,0},{360,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,600}}</string>
				<key>sourceSize</key>
				<string>{360,600}</string>
			</dict>

			<key>smart_header.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{351,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,43}}</string>
				<key>sourceSize</key>
				<string>{351,43}</string>
			</dict>

			<key>smart_header_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{360,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,37}}</string>
				<key>sourceSize</key>
				<string>{360,37}</string>
			</dict>

			<key>title_trochuỵen.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,787},{191,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,44}}</string>
				<key>sourceSize</key>
				<string>{191,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1083,938}</string>
			<key>textureFileName</key>
			<string>common_trochuyen.png</string>
			</dict>
		</dict>
</plist>