<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>+.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1306},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,17}}</string>
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>

			<key>0-19.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,694},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,119}}</string>
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,694},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,119}}</string>
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>

			<key>20-39.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1155},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,119}}</string>
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>

			<key>40-59.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1035},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,119}}</string>
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>

			<key>60-79.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,1035},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,119}}</string>
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>

			<key>80-99.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,814},{131,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,119}}</string>
				<key>sourceSize</key>
				<string>{131,119}</string>
			</dict>

			<key>avartar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,1233},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>back_diamon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1275},{143,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,47}}</string>
				<key>sourceSize</key>
				<string>{143,47}</string>
			</dict>

			<key>background_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,849},{143,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,47}}</string>
				<key>sourceSize</key>
				<string>{143,47}</string>
			</dict>

			<key>bottom_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,1275},{105,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,30}}</string>
				<key>sourceSize</key>
				<string>{105,30}</string>
			</dict>

			<key>box name.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,956},{206,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,65}}</string>
				<key>sourceSize</key>
				<string>{206,65}</string>
			</dict>

			<key>box_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,897},{135,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,137}}</string>
				<key>sourceSize</key>
				<string>{135,137}</string>
			</dict>

			<key>box_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,694},{152,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,154}}</string>
				<key>sourceSize</key>
				<string>{152,154}</string>
			</dict>

			<key>box_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1279},{127,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,43}}</string>
				<key>sourceSize</key>
				<string>{127,43}</string>
			</dict>

			<key>box_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,694},{735,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{735,130}}</string>
				<key>sourceSize</key>
				<string>{735,130}</string>
			</dict>

			<key>box_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,825},{735,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{735,130}}</string>
				<key>sourceSize</key>
				<string>{735,130}</string>
			</dict>

			<key>box_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,956},{206,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,65}}</string>
				<key>sourceSize</key>
				<string>{206,65}</string>
			</dict>

			<key>box_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,393},{99,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,100}}</string>
				<key>sourceSize</key>
				<string>{99,100}</string>
			</dict>

			<key>box_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,864},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>box_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,934},{93,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,217}}</string>
				<key>sourceSize</key>
				<string>{93,217}</string>
			</dict>

			<key>box_v.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,0},{130,735}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,735}}</string>
				<key>sourceSize</key>
				<string>{130,735}</string>
			</dict>

			<key>boxcoin_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1241},{153,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,51}}</string>
				<key>sourceSize</key>
				<string>{153,51}</string>
			</dict>

			<key>boxcoin_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1111},{153,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,51}}</string>
				<key>sourceSize</key>
				<string>{153,51}</string>
			</dict>

			<key>boxdiamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1279},{127,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,43}}</string>
				<key>sourceSize</key>
				<string>{127,43}</string>
			</dict>

			<key>boxmoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1118},{228,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,58}}</string>
				<key>sourceSize</key>
				<string>{228,58}</string>
			</dict>

			<key>btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1251},{241,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,52}}</string>
				<key>sourceSize</key>
				<string>{241,52}</string>
			</dict>

			<key>btn22.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1198},{241,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,52}}</string>
				<key>sourceSize</key>
				<string>{241,52}</string>
			</dict>

			<key>btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,934},{129,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,76}}</string>
				<key>sourceSize</key>
				<string>{129,76}</string>
			</dict>

			<key>btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1117},{161,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,58}}</string>
				<key>sourceSize</key>
				<string>{161,58}</string>
			</dict>

			<key>btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,956},{161,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,58}}</string>
				<key>sourceSize</key>
				<string>{161,58}</string>
			</dict>

			<key>btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1155},{129,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,76}}</string>
				<key>sourceSize</key>
				<string>{129,76}</string>
			</dict>

			<key>button_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1293},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,31}}</string>
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>

			<key>button_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,1232},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{75,73}</string>
			</dict>

			<key>button_back_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1241},{181,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,64}}</string>
				<key>sourceSize</key>
				<string>{181,64}</string>
			</dict>

			<key>button_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,205},{121,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,123}}</string>
				<key>sourceSize</key>
				<string>{121,123}</string>
			</dict>

			<key>button_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,0},{127,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,77}}</string>
				<key>sourceSize</key>
				<string>{127,77}</string>
			</dict>

			<key>button_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,644},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,48}}</string>
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>

			<key>button_claimd.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,814},{104,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,63}}</string>
				<key>sourceSize</key>
				<string>{104,63}</string>
			</dict>

			<key>button_claimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,329},{104,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,63}}</string>
				<key>sourceSize</key>
				<string>{104,63}</string>
			</dict>

			<key>button_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,736},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,57}}</string>
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>

			<key>button_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1198},{263,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,76}}</string>
				<key>sourceSize</key>
				<string>{263,76}</string>
			</dict>

			<key>button_friend.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,1232},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>button_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,1094},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,51}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>

			<key>button_giftdaily.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,864},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,57}}</string>
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>

			<key>button_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1118},{318,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{318,79}}</string>
				<key>sourceSize</key>
				<string>{318,79}</string>
			</dict>

			<key>button_jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1163},{145,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,115}}</string>
				<key>sourceSize</key>
				<string>{145,115}</string>
			</dict>

			<key>button_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,987},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,51}}</string>
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>

			<key>button_mission.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,572},{32,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,57}}</string>
				<key>sourceSize</key>
				<string>{32,57}</string>
			</dict>

			<key>button_oke.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,78},{127,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,77}}</string>
				<key>sourceSize</key>
				<string>{127,77}</string>
			</dict>

			<key>button_on-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,1184},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>button_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,494},{91,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,77}}</string>
				<key>sourceSize</key>
				<string>{91,77}</string>
			</dict>

			<key>button_play_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1022},{176,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,94}}</string>
				<key>sourceSize</key>
				<string>{176,94}</string>
			</dict>

			<key>button_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,956},{166,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,154}}</string>
				<key>sourceSize</key>
				<string>{166,154}</string>
			</dict>

			<key>button_support.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,794},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>

			<key>button_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,807},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,56}}</string>
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>

			<key>button_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1153,736},{66,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,70}}</string>
				<key>sourceSize</key>
				<string>{66,70}</string>
			</dict>

			<key>dailygift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,864},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,57}}</string>
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>

			<key>diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,881},{59,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,52}}</string>
				<key>sourceSize</key>
				<string>{59,52}</string>
			</dict>

			<key>exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,956},{325,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,161}}</string>
				<key>sourceSize</key>
				<string>{325,161}</string>
			</dict>

			<key>exp0.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1022},{205,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,62}}</string>
				<key>sourceSize</key>
				<string>{205,62}</string>
			</dict>

			<key>expfull.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1177},{203,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,63}}</string>
				<key>sourceSize</key>
				<string>{203,63}</string>
			</dict>

			<key>gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,1039},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,54}}</string>
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>

			<key>icon_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,572},{89,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,71}}</string>
				<key>sourceSize</key>
				<string>{89,71}</string>
			</dict>

			<key>icon_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1146},{49,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,37}}</string>
				<key>sourceSize</key>
				<string>{49,37}</string>
			</dict>

			<key>icon_coint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,922},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,64}}</string>
				<key>sourceSize</key>
				<string>{55,64}</string>
			</dict>

			<key>icon_diamon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,814},{68,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,66}}</string>
				<key>sourceSize</key>
				<string>{68,66}</string>
			</dict>

			<key>off.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1163},{131,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,53}}</string>
				<key>sourceSize</key>
				<string>{131,53}</string>
			</dict>

			<key>on.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,897},{131,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,53}}</string>
				<key>sourceSize</key>
				<string>{131,53}</string>
			</dict>

			<key>pop-up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1023,693}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1023,693}}</string>
				<key>sourceSize</key>
				<string>{1023,693}</string>
			</dict>

			<key>thele.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1275},{124,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,48}}</string>
				<key>sourceSize</key>
				<string>{124,48}</string>
			</dict>

			<key>tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,644},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,48}}</string>
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>

			<key>vinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,156},{124,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,48}}</string>
				<key>sourceSize</key>
				<string>{124,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1316,1325}</string>
			<key>textureFileName</key>
			<string>databutton.png</string>
			</dict>
		</dict>
</plist>